* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.fixed {
  position: fixed;
  width: 100%;
}

/* header */

.header {
  background-color: white;
}

.header-container {
  background-color: white;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
.container-header-1 {
  justify-content: space-between;
}

.container-header-2 {
  justify-content: space-between;
}

.container-header-3 {
  max-width: 1000px;
  padding-top: 10px;
}

a {
  color: black;
  padding: 10px;
  text-decoration: none;
}

.button-blue {
  background-color: rgb(35, 104, 206);
  color: white;
  border: none;
  padding: 4px 14px;
}

.img {
  width: 100%;
}
